.content-header {
  padding: 2% 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand-logo {
  height: 6rem;
}
.btn-logout {
  border: none;
  background-color: #e50914;
  font-size: 1.8rem;
  border: none;
  color: white;
  padding: 1rem 2rem;
  margin-left: 1px;
  border-radius: 2px;
}
