@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  @media (max-width: 900px) {
    font-size: 56.25%;
  }
}

body {
  background-color: #111;
  color: White;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
